<template>
  <span>
    <span v-if="type === 'link'">
      <a
        :href="value"
        target="_blank"
        rel="noopener noreferrer"
      >{{ linkName ? linkName : value }}
        <external-link-icon/>
      </a>
    </span>
    <span v-else>
      {{ value }}
    </span>
  </span>
</template>

<script>

  import Variables from '../variables'

  export default {
    name: "jb-variable",
    props: {
      name: {
        type: String,
        required: true
      },
      type: {
        type: String,
        required: false
      },
      linkName: {
        type: String,
        required: false
      }
    },
    computed: {
      value() {
        if (!Variables) {
          return '';
        }
        return Variables[this.name];
      }
    }
  }
</script>
